In [3]:
import numpy as np
import pandas as pd
import datetime as dt

In [4]:
a = '2005-05-20'

In [5]:
pd.Timestamp(a)

Timestamp('2005-05-20 00:00:00')

In [6]:
b = 'abc'

In [10]:
dates = [pd.Timestamp('2012-05-10'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-15')]

In [11]:
dates

[Timestamp('2012-05-10 00:00:00'),
 Timestamp('2012-05-02 00:00:00'),
 Timestamp('2012-05-15 00:00:00')]

In [12]:
ts = pd.Series(np.random.randn(3), index=dates)

In [13]:
ts

2012-05-10   -1.901119
2012-05-02    0.773582
2012-05-15   -0.413817
dtype: float64

In [14]:
ts.index

DatetimeIndex(['2012-05-10', '2012-05-02', '2012-05-15'], dtype='datetime64[ns]', freq=None)

In [17]:
ts = pd.Series([pd.Timestamp('2012-05-10'), pd.Timestamp('2012.05.02'), pd.Timestamp('2012/05/15')])

0   2012-05-10
1   2012-05-02
2   2012-05-15
dtype: datetime64[ns]

In [29]:
x = pd.to_datetime(pd.Series(['2005/12/15', '2010/08/15']), format='%Y/%m/%d')

In [30]:
x

0   2005-12-15
1   2010-08-15
dtype: datetime64[ns]

In [32]:
type(x)

pandas.core.series.Series

In [33]:
x.dt.year

0    2005
1    2010
dtype: int64

In [34]:
x.dt.hour

0    0
1    0
dtype: int64

In [35]:
x.dt.weekday_name

0    Thursday
1      Sunday
dtype: object