In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline
pd.set_option('display.max_columns', 500)

In [13]:
use_cols = ['loan_amnt', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_length', 'home_ownership', 'annual_inc',
           'verification_status', 'issue_d', 'loan_status', 'purpose', 'addr_state', 'dti', 'earliest_cr_line',
           'revol_bal', 'revol_util']

In [15]:
data_2014 = pd.read_csv('LoanStats3c.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2015 = pd.read_csv('LoanStats3d.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2016_q1 = pd.read_csv('LoanStats_2016q1.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2016_q2 = pd.read_csv('LoanStats_2016q2.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2016_q3 = pd.read_csv('LoanStats_2016q3.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2016_q4 = pd.read_csv('LoanStats_2016q4.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2017_q1 = pd.read_csv('LoanStats_2017q1.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2017_q2 = pd.read_csv('LoanStats_2017q2.csv',skiprows=1, usecols=use_cols, skipfooter=2)
data_2017_q3 = pd.read_csv('LoanStats_2017q3.csv',skiprows=1, usecols=use_cols, skipfooter=2)

/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.
/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  after removing the cwd from sys.path.
/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """
/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  import sys
/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

/Users/jiangchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [16]:
df = pd.concat([data_2014,
                data_2015,
                data_2016_q1,
                data_2016_q2,
                data_2016_q3,
                data_2016_q4,
                data_2017_q1,
                data_2017_q2,
                data_2017_q3],ignore_index=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416062 entries, 0 to 1416061
Data columns (total 17 columns):
loan_amnt              1416062 non-null int64
term                   1416062 non-null object
int_rate               1416062 non-null object
grade                  1416062 non-null object
sub_grade              1416062 non-null object
emp_length             1416062 non-null object
home_ownership         1416062 non-null object
annual_inc             1416062 non-null float64
verification_status    1416062 non-null object
issue_d                1416062 non-null object
loan_status            1416062 non-null object
purpose                1416062 non-null object
addr_state             1416062 non-null object
dti                    1415705 non-null float64
earliest_cr_line       1416062 non-null object
revol_bal              1416062 non-null int64
revol_util             1415258 non-null object
dtypes: float64(2), int64(2), object(13)
memory usage: 183.7+ MB

In [18]:
df.head()

,loan_amnt,term,int_rate,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,addr_state,dti,earliest_cr_line,revol_bal,revol_util
0,15000,60 months,12.39%,C,C1,10+ years,RENT,78000.0,Source Verified,Dec-2014,Fully Paid,debt_consolidation,VA,12.03,Aug-1994,138008,29%
1,10400,36 months,6.99%,A,A3,8 years,MORTGAGE,58000.0,Not Verified,Dec-2014,Charged Off,credit_card,CA,14.92,Sep-1989,6133,31.6%
2,21425,60 months,15.59%,D,D1,6 years,RENT,63800.0,Source Verified,Dec-2014,Fully Paid,credit_card,MO,18.49,Aug-2003,16374,76.2%
3,12800,60 months,17.14%,D,D4,10+ years,MORTGAGE,125000.0,Verified,Dec-2014,Current,car,CA,8.31,Oct-2000,5753,100.9%
4,9600,36 months,13.66%,C,C3,10+ years,RENT,69000.0,Source Verified,Dec-2014,Fully Paid,debt_consolidation,NJ,25.81,Nov-1992,16388,59.4%

In [19]:
del data_2014
del data_2015
del data_2016_q1
del data_2016_q2
del data_2016_q3
del data_2016_q4
del data_2017_q1
del data_2017_q2
del data_2017_q3

In [20]:
import gc

In [21]:
gc.collect()

3318

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416062 entries, 0 to 1416061
Data columns (total 17 columns):
loan_amnt              1416062 non-null int64
term                   1416062 non-null object
int_rate               1416062 non-null object
grade                  1416062 non-null object
sub_grade              1416062 non-null object
emp_length             1416062 non-null object
home_ownership         1416062 non-null object
annual_inc             1416062 non-null float64
verification_status    1416062 non-null object
issue_d                1416062 non-null object
loan_status            1416062 non-null object
purpose                1416062 non-null object
addr_state             1416062 non-null object
dti                    1415705 non-null float64
earliest_cr_line       1416062 non-null object
revol_bal              1416062 non-null int64
revol_util             1415258 non-null object
dtypes: float64(2), int64(2), object(13)
memory usage: 183.7+ MB